*
{margin: 0%;
padding:0%;
background: #ECF0F1;
}

.app 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:column;
    width: 551px;
    height: 353px;
    background: #E74C3C;
    margin: 1px 1px 1px 318px;
    position: fixed;
    left: -54px;
}

.background
{
    background-color: white;
    width: 95%;
    margin-top: 51px;
    color:#BDA2CB;
    margin: 10px;
    border-radius: 3px;
    height: 68%;
    
}
.top
{
    background: white;
    margin: 10px;
   color: #BDA2CB;
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    width:95%;
    height:13%;
    border-radius: 3px;
}
p
{
    margin: 10px 

}

.input input[type=date]
{
   width: 90%;
   margin-left: 10px;
   height: 11%;
   border: 1px solid #7EBDC3;
    color: #E74C3C;
    border-radius: 4px;
}

.input input[type=text]
{
   width: 90%;
   margin-left: 10px;
   height: 11%;
   border: 1px solid #7EBDC3;
   border-radius: 4px;
}

.input input[type=submit]
{
    background: white;
    border:1.5px solid #7EBDC3;
    color: #7EBDC3;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Text user */

#namelogin
{
    background: #E74C3C;
    margin: 1px 1px 1px 264px;
    width: 551px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px 4px 0px 0px;
}
.back
{
    background: white;
    width: 94%;
    height: 72%;
    border-radius: 4px;
}
#textnme
{
    background-color: white;
    
}
#label
{
    background: white;
   
    color: #7EBDC3;
}